#AppContainer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picEditor {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    min-width: 80vw;
    height: 40vw;
    max-height: 40vh;
    margin: auto;
    margin-bottom: 20px;
    padding: 3%;

    box-shadow: 3px 3px 20px black;
    border-radius: 40px;
    background: #f2ccc3
    ;
}

.picEditor.Pattern {
    height: 50vmax;
}


.canvasContainer {
    display: flex;
    height: 100%;
    width: 50%;
}


.picCanvas {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: solid 2px rgb(0, 0, 0);
    outline: dashed 1px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 5px grey;
}

.picCanvas.Pattern {
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}

.picEditor.ColorMapper {
    flex-direction:column;
    height: 85vw;
    max-height: 80vh;
}

.colorMapperEditor,
.colorMapperPalette {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
}

.Palette {

}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.Slider {
    position: relative;
    min-width: 35vmin;
    max-width: 35vmin;
    margin-left: -10vmin;
    margin-right: -10vmin;

}

.button {
    margin-left: 50px;
    white-space: normal;
    background-color: rgb(49, 49, 49); /* Green */
    border: none;
    border-radius:50%;
    width: 6em;
    height: 6em;
    color: white;
    padding: 1em;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px #999;
    display: inline-block;
}

.button:hover {background-color: #4d4d4d}

.button:active {
  background-color: #4d4d4d;
  box-shadow: 0 3px #999;
  transform: translateY(2px);
}