#AppContainer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picEditor {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    min-width: 80vw;
    height: 40vh;
    min-height: 40vw;
    margin: auto;
    margin-bottom: 1%;
    padding: 3%;

    border: solid black 2px;
    border-radius: 3%;
}

.picEditor.Pattern {
    height: 50vmax;
}

.picCanvas {
    margin-left: 5%;
    margin-right:auto;
    max-height: 80%;
    max-width: 50%;
}

.picCanvas.Pattern {
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}


#ColorMapperCanvas {
    margin-right: 2%;
}

.Palette {
    margin-right: auto;
}

.Slider {
    position: realtive;
    width: 50%;
    height: 0px;
    min-width: 40vw;
    margin-left: -15%;
    margin-right: -15%;
}

.button {
    height: 10px;
    width: 10px;
}