.Palette {
    overflow-y: auto;
    max-height: 80%;
    max-width: 50%;
}


.paletteTable {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    white-space:nowrap;
}

.paletteTable th, td{
    text-align: left;
    padding-right: 10px;
    padding-bottom: 5px;
}


.paletteTable th{
}

.paletteTable td{
}

.paletteBox {
    height: 20px;
    width: 40px;
    outline: solid 1px black;
}

.paletteSymb {
    display: block;
    margin: auto;
    background-color:#ffffffce;
    width: 33%;
    height: 100%;
    text-align: center;
    font: bold 13pt Courier;

}