.Slider {
  -webkit-appearance: none; 
  -webkit-transform:rotate(270deg); 
  -moz-transform:rotate(270deg); 
  -o-transform:rotate(270deg); 
  -ms-transform:rotate(270deg); 
  transform:rotate(270deg);

  display:flex;
  flex-direction: column;
}


.sliderTitle {
  height: 20px;
  align-self: flex-start;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-left: 2px;
  border-radius: 10px;
}

.sliderMain {
  display:flex;
  align-items: center;
  width: 100%;
}


.Slider input{
  
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #fae8df;
  outline: none;
  padding: 0;
  margin: 0;
}
.Slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4b5248;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.Slider input::-webkit-slider-thumb:hover {
  background: #abc4ab;
}
.Slider input:active::-webkit-slider-thumb {
  background: #abc4ab;
}
.Slider input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #4b5248;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.Slider input::-moz-range-thumb:hover {
  background: #abc4ab;
}
.Slider input:active::-moz-range-thumb {
  background: #abc4ab;
}
.Slider input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #abc4ab;
}


.SliderValue {
  display: inline-block;
  position: relative;
  width: 25px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background: #4b5248;
  padding: 10px 10px;
  margin-left: 10px;
}

.SliderText {
  display: block;
  width: 25px;
  -webkit-appearance: none; 
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg); 
  -o-transform:rotate(90deg); 
  -ms-transform:rotate(90deg); 
  transform:rotate(90deg);
}


.SliderValue:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -6px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #4b5248;
  border-bottom: 7px solid transparent;
  content: '';
}
